@model IEnumerable<BugTrackerDemo.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTrackerDemo.Services.Interfaces
@using BugTrackerDemo.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService


@{
    ViewData["Title"] = "All Tickets";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>All Tickets</h1>

            <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
            <div class="card-body">
                <table class="table table-hover table-bordered display" id="ticketPages">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.Project)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketPriority.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketStatus.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OwnerUser)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeveloperUser)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                </td>
                                <td>
                                     <div class="btn-group" role="group">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Details</a> |
                                    @if (User.IsInRole(nameof(Roles.Admin)) || item.DeveloperUserId == btUser.Id || item.OwnerUserId == btUser.Id || await ProjectService.IsAssignedProjectManagerAsync(btUser.Id, item.ProjectId))
                                    {

                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Edit</a>
                                    }

                                    @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectManagerAsync(btUser.Id, item.ProjectId))
                                    {

                                        if (item.Archived)
                                        {
                                            <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Restore</a>

                                        }
                                        else
                                        {
                                            <a asp-action="Archive" asp-route-id="@item.Id" class="btn btn-sm btn-outline-dark">Archive</a>
                                        }
                                    }
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>



@section Scripts {
<script src="/dist/js/pages/jquery-3.5.1.js"></script>
<script src="~/dist/js/pages/jquery.dataTables.min.js.js"></script>


<script>
      $(document).ready(function() {
        $('#ticketPages').DataTable( {
            "pagingType": "full_numbers",
            "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
        } );
    } );
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}

